@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.loading_p{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading_img{
width: 600px;
}


.heroSwiper {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

/* .swiper-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.slide-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: blur(22px) brightness(0.55);
  transform: scale(1.15);
  z-index: 1;
}

.slide-content {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: auto;
}

.slide-image img {
  width: 100%;
  /* width: 340px; */
  height: 440px;
  object-fit: cover;
  border-radius: 22px;
  box-shadow: 0 35px 70px rgba(0, 0, 0, 0.45);
}

.slide-text {
  color: #fff;
  max-width: 420px;
}

.slide-text .category {
  font-size: 13px;
  letter-spacing: 2px;
  opacity: 0.8;
  text-transform: uppercase;
}


.slide-text h2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 38px;
  margin: 12px 0 18px;
  line-height: 1.2;
}


.slide-text button {
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  background: #ff4d4f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.slide-text button:hover {
  transform: translateY(-2px);
  background: #ff2f32;
}

.swiper-pagination-bullet  {
  background: white !important; 
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

.autoplay-progress {
  position: absolute ;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  width: 48px;
  height: 48px;
}

.autoplay-progress svg {
  transform: rotate(-90deg);
}

.autoplay-progress circle {
  fill: none;
  stroke: white ;
  stroke-width: 4;
  stroke-dasharray: 126;
  stroke-dashoffset: calc(126 * (1 - var(--progress)));
}

@media (max-width: 850px) {
  .heroSwiper {
    height: auto;
    padding: 40px 0;
  }

  .slide-content {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  padding: 20px;

  }

  /* .slide-image img {
    width: 320px;
    height: 320px;
  } */

  .slide-text h2 {
    font-size: 26px;
  }
  .swiper-button-next,
.swiper-button-prev ,.swiper-pagination-bullet  {
  display: none !important;
}
 
}
@media (min-width: 550px) and (max-width: 654px){
  .slide-image img {
  width: 100%;
  height: 450px;

}
}


@media (min-width: 850px) and (max-width: 1200px){
  .slide-content{
    max-width: inherit;
    justify-content: flex-end;
  }
  .slide-content {
  max-width: 800px;
}
}

