  .my_footer_details {
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid rgb(227, 225, 225);
  }
  
  .mydetails {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .Mylogo p {
    background-color:#0ea5e9;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-weight: 600;
  }
  .github_footer {
    background-color: #070708;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
  }
  .LinkedIn_footer {
    background-color: #00a0dc;
    font-size: 18px;
    padding: 8px;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
  }
  .Portfolio_footer {
    background-color: #dc8686;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
  }
  .anchor_tag_color{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .portfolio_img{
    width: 30px;
  }

@media (max-width: 450px) {
  .awesomeFONT{
    display: none;
  }
}